<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>


  <p>
    Splurty was built by <a target="_blank" href="http://github.com/eyoshimoriyama">Yoshi</a> who is an aspiring software engineer and lover of The Office. You can submit your favorite quotes from the show along with the character who said it. You can generate random quotes from other submisions by clicking the button below. 
  </p>
  <br />
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'yoshi.jpg', class: 'img-fluid' %>
      </div>

      <div class="col-12 col-sm-7 offset-sm-1">
        <h2 class="text-center">Yoshi Moriyama</h2>
        <br />
        <p>
          Yoshi Moriyama is a user acquisition manager who is studying to become a software engineer. He previously worked at a mobile game studio called Dots. In his free time, he enjoys playing music and listening to podcasts.
        </p>
      <div>
  </div>
</div>
</div>

<br class="clear"/>
<br />
<br />
<br />
<br />